.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 6fr 2fr 1fr;
  grid-template-rows: 10fr 1fr;
  height: 100vh;
  width: 100vw;
}

.switcher-panel-container {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  font-size: 1rem;
  padding: 1em;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
  overflow-y: scroll;
  word-break: break-word;
  overflow:hidden;
  border-radius: 10px;
}

.chat-window {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  font-size: 1rem;
  padding: 1em;
  overflow-y: scroll;
  word-break: break-word;

  grid-column-start: 3;
  grid-column-end: 4;

  border-radius: 10px;
}

.chat-input {
  font-size: 1rem;
  padding: 1em;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 2;

  border-radius: 10px;
}

.chat-send {
  font-size: 1rem;
  padding: 1em;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row: 2;

  border-radius: 10px;
}